Final Deliverables/complete_project_json.json
[{"id":"5ad52264175349f9","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"06b5ad4aee9f36d4","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"30211ae518e0717a","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"633a267a44f8f1c3","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"1ad46592e0583bfd","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"d4cb9db064b97ed3","order":1,"width":3,"height":1},{"id":"ecae318665923978","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"d4cb9db064b97ed3","order":3,"width":3,"height":1},{"id":"d1488198d8bffd8c","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"d4cb9db064b97ed3","order":5,"width":5,"height":1},{"id":"1550a12686bbd9b7","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"d4cb9db064b97ed3","order":7,"width":4,"height":1},{"id":"1be6b07f296cd579","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"c2453613910340cd","order":2,"width":2,"height":1},{"id":"482cf65c574aef36","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"c2453613910340cd","order":4,"width":2,"height":1},{"id":"152305a4fd098605","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"0a98438381a8a6a9","order":1,"width":12,"height":1},{"id":"fd2e69db609e22e1","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"0a98438381a8a6a9","order":4,"width":12,"height":1},{"id":"1b24cdc97f631458","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"64cbe9cef7329b5f","order":1,"width":15,"height":1},{"id":"16b71ab8175eac50","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"64cbe9cef7329b5f","order":3,"width":5,"height":1},{"id":"a4e98dcb0a45e0b5","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"64cbe9cef7329b5f","order":5,"width":5,"height":1},{"id":"f42e0ed2120d4ba8","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"17ecc482a7485d5f","order":2,"width":1,"height":1},{"id":"3b185222fc18de2b","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"17ecc482a7485d5f","order":4,"width":1,"height":1},{"id":"2a1d9a8e44538d37","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":1,"width":10,"height":1},{"id":"c8a20f243f1e114f","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":2,"width":2,"height":1},{"id":"60951cb44aa82141","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":4,"width":2,"height":1},{"id":"c85b27326ae28950","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":5,"width":2,"height":1},{"id":"69399985dff82193","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":7,"width":2,"height":1},{"id":"8cabbf1c1570b594","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":8,"width":2,"height":1},{"id":"b65a9953653e8908","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":10,"width":2,"height":1},{"id":"4916f47d4036858d","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":11,"width":2,"height":1},{"id":"a21af9520af4b5e1","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":13,"width":2,"height":1},{"id":"29bdae67aadcdf94","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":14,"width":2,"height":1},{"id":"3658be0e32eaff67","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":16,"width":2,"height":1},{"id":"14cbefe2a0569aed","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":17,"width":2,"height":1},{"id":"70b4838e5c3e5855","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":19,"width":2,"height":1},{"id":"214d2d31cc763ea4","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":20,"width":1,"height":1},{"id":"5ef960325955a3a4","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":22,"width":2,"height":1},{"id":"1151ab7e6a314a92","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"e3dcdef4fbf8b77f","order":24,"width":1,"height":1},{"id":"8e6ca6ed652a393a","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":1,"width":23,"height":1},{"id":"57d5d65cfa09d3f1","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":3,"width":26,"height":1},{"id":"02ebbba74888ca52","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":4,"width":5,"height":1},{"id":"808c2a47a6a70a96","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":6,"width":8,"height":1},{"id":"623ee84e69b7ea2f","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":8,"width":3,"height":1},{"id":"bd21805fa2f5a5e5","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":9,"width":5,"height":1},{"id":"eb5c985cf18e82b2","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":10,"width":8,"height":1},{"id":"dfaf621c62303883","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":11,"width":3,"height":1},{"id":"114511b3abe32fbe","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":12,"width":5,"height":1},{"id":"b7d3d6bd75799f4d","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":13,"width":8,"height":1},{"id":"2277109d37bd684e","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":14,"width":3,"height":1},{"id":"d9b365d25978ab43","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":15,"width":5,"height":1},{"id":"3a3dd4e42356bce4","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":16,"width":8,"height":1},{"id":"0f8801957ce88d56","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":17,"width":3,"height":1},{"id":"3253d9172e7d21ae","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":18,"width":26,"height":1},{"id":"262c5887158c6130","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":19,"width":4,"height":1},{"id":"44058d645967d65f","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":21,"width":7,"height":1},{"id":"3bd4f44b68352b4e","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":23,"width":3,"height":1},{"id":"c82f4d3f19c597c5","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":24,"width":26,"height":1},{"id":"7522a3ec7c848075","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":25,"width":26,"height":1},{"id":"67a247011e1cac48","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":26,"width":5,"height":1},{"id":"2eca351966220a64","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":28,"width":8,"height":1},{"id":"d19235bc0b8b0e8e","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":30,"width":3,"height":1},{"id":"3d3754198e8ec435","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":31,"width":5,"height":1},{"id":"68f827f8e7ea58b6","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":32,"width":8,"height":1},{"id":"cbcb59b6b345c57a","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":33,"width":3,"height":1},{"id":"3b09ea583d7650d6","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":34,"width":5,"height":1},{"id":"7efe640e34783202","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":35,"width":8,"height":1},{"id":"8fcd438aee21532f","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":36,"width":3,"height":1},{"id":"c897f12cd02b94d1","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":37,"width":5,"height":1},{"id":"eba59887faf0864a","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":38,"width":8,"height":1},{"id":"5f944c4eb45dae72","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":39,"width":3,"height":1},{"id":"4e7a8fb9494b32c4","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":40,"width":26,"height":1},{"id":"2c41868c87263f32","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":41,"width":4,"height":1},{"id":"ba856c3a23bc8bbd","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":43,"width":7,"height":1},{"id":"a05600e5cbd22f67","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"cb7dddceffb57a68","order":45,"width":3,"height":1},{"id":"64cbe9cef7329b5f","type":"ui_group","name":"","tab":"4124dc1b0f1e7b44","order":1,"disp":true,"width":"15","collapse":false,"className":""},{"id":"107ca79ad6b32462","type":"ui_group","name":"","tab":"0479c4a2c4ddc5b8","order":2,"disp":true,"width":"13","collapse":false,"className":""},{"id":"d4cb9db064b97ed3","type":"ui_group","name":"","tab":"6714dfe91a7dbe6d","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"17ecc482a7485d5f","type":"ui_group","name":"","tab":"b910a2bd729912af","order":1,"disp":true,"width":11,"collapse":false,"className":""},{"id":"c2453613910340cd","type":"ui_group","name":"","tab":"514b361a1a9b4ef7","order":1,"disp":true,"width":"9","collapse":false,"className":""},{"id":"cb7dddceffb57a68","type":"ui_group","name":"","tab":"4bd0e8a0909b7735","order":1,"disp":true,"width":"26","collapse":false,"className":""},{"id":"e3dcdef4fbf8b77f","type":"ui_group","name":"","tab":"7f71b71993e48a65","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"0a98438381a8a6a9","type":"ui_group","name":"","tab":"163822eb4b81cc99","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"4124dc1b0f1e7b44","type":"ui_tab","name":"Signup","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"0479c4a2c4ddc5b8","type":"ui_tab","name":"Smart Solutions For Railways","icon":"<i class=\"fa fa-home\" aria-hidden=\"true\"></i>","order":1,"disabled":false,"hidden":false},{"id":"6714dfe91a7dbe6d","type":"ui_tab","name":"Verification Page","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b910a2bd729912af","type":"ui_tab","name":"Login ","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"514b361a1a9b4ef7","type":"ui_tab","name":"Forgot Password","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"4bd0e8a0909b7735","type":"ui_tab","name":"Main Page","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"7f71b71993e48a65","type":"ui_tab","name":"Book Ticket","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"163822eb4b81cc99","type":"ui_tab","name":"Booking History","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"df59dbe99d744a2e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d720bf35a5d85891","type":"ui_tab","name":"Weather","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"d98586ee33e3d814","type":"ui_group","name":"Current Weather","tab":"d720bf35a5d85891","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"bc01e7bb1460e47e","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"d98586ee33e3d814","order":1,"width":10,"height":1},{"id":"6a4360d6173fef71","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"d98586ee33e3d814","order":3,"width":10,"height":1},{"id":"c64725715f676938","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"d98586ee33e3d814","order":5,"width":10,"height":1},{"id":"ab07a1795ec4470c","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"d98586ee33e3d814","order":6,"width":3,"height":1},{"id":"4b4f132ad9c9914c","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"d98586ee33e3d814","order":8,"width":3,"height":1},{"id":"dadd78866b8cc8d4","type":"ui_group","name":"imageoftrain","tab":"0479c4a2c4ddc5b8","order":3,"disp":true,"width":5,"collapse":false,"className":""},{"id":"d772e802ed48a41d","type":"ui_group","name":"confirmandgoback","tab":"6714dfe91a7dbe6d","order":2,"disp":true,"width":3,"collapse":false,"className":""},{"id":"8529085874f6da32","type":"ui_group","name":"confirmandgoback","tab":"514b361a1a9b4ef7","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"834f32dd88269977","type":"ui_group","name":"Location","tab":"4bd0e8a0909b7735","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3d3c36c7f0674d90","type":"ui_group","name":"Book Ticket","tab":"4bd0e8a0909b7735","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fad7f31a3bd12bbf","type":"ui_group","name":"Booking History","tab":"4bd0e8a0909b7735","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a80831358d1859e7","type":"ui_group","name":"Group 2","tab":"7f71b71993e48a65","order":2,"disp":true,"width":6},{"id":"804bc7ddc79de774","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"0e35452676dd510d","type":"ui_tab","name":"Location","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"83227ddc4d7393b8","type":"ui_group","name":"Train Location","tab":"0e35452676dd510d","order":1,"disp":true,"width":23,"collapse":false,"className":""},{"id":"d99897812620c211","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":2,"width":19,"height":1},{"id":"55af1d8357f0bbb0","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":3,"width":8,"height":1},{"id":"1d1a116ea4d99ab6","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":5,"width":8,"height":1},{"id":"4b26d65f41f7d25f","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":6,"width":23,"height":1},{"id":"eb15dcf3501109a1","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":7,"width":5,"height":1},{"id":"38642455be2acf0f","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":9,"width":5,"height":1},{"id":"bddc76d3134fcb1b","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":10,"width":5,"height":1},{"id":"176e6d928d6fe495","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":11,"width":5,"height":1},{"id":"5ff6b78c6af3371a","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":12,"width":5,"height":1},{"id":"4550df44e13f0350","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":13,"width":5,"height":1},{"id":"b038327de29530f3","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":14,"width":5,"height":1},{"id":"93f09a16aeb334d9","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":15,"width":5,"height":1},{"id":"c9f46cbc918eff34","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":16,"width":5,"height":1},{"id":"7468880c6a1567fb","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":17,"width":5,"height":1},{"id":"50ff87c833eb4832","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":18,"width":5,"height":1},{"id":"b20c22e75a186cb0","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":19,"width":5,"height":1},{"id":"979271e30ee3c107","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":20,"width":5,"height":1},{"id":"f166bcf428f4c8d9","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":21,"width":5,"height":1},{"id":"ca92d59be47c375d","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":22,"width":5,"height":1},{"id":"281bf5d9976db174","type":"ui_spacer","z":"06b5ad4aee9f36d4","name":"spacer","group":"83227ddc4d7393b8","order":23,"width":5,"height":1},{"id":"e927c176de354510","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":1,"width":2,"height":1},{"id":"39f3083381a80906","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":3,"width":1,"height":1},{"id":"b9e8afe9ea1a8fca","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":4,"width":2,"height":1},{"id":"646852452aed0f64","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":5,"width":1,"height":1},{"id":"e460048f4d4ec874","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":6,"width":2,"height":1},{"id":"04337eb8cdeed9dc","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":7,"width":1,"height":1},{"id":"b28e6c520ea53a38","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":8,"width":2,"height":1},{"id":"71f841b231f5f3ba","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":9,"width":1,"height":1},{"id":"825a842d62f6b1e0","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":10,"width":2,"height":1},{"id":"dcb5ab3e6b4dbac8","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":11,"width":1,"height":1},{"id":"bcba48348f098165","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":13,"width":2,"height":1},{"id":"d8dfa284d58c0d4e","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":15,"width":2,"height":1},{"id":"f27ad45dcd8ffe25","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":16,"width":13,"height":1},{"id":"42a23a5edf254b20","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":17,"width":2,"height":1},{"id":"6158ac8425af0ae8","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":19,"width":2,"height":1},{"id":"b168b9f07588e41b","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":20,"width":13,"height":1},{"id":"9633fdfc731d35df","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":21,"width":2,"height":1},{"id":"89752e159992f74a","type":"ui_spacer","z":"5ad52264175349f9","name":"spacer","group":"107ca79ad6b32462","order":23,"width":2,"height":1},{"id":"e308bf32e2ba2cc9","type":"ui_form","z":"5ad52264175349f9","name":"","label":"","group":"64cbe9cef7329b5f","order":2,"width":15,"height":1,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Gender","value":"gender","type":"text","required":true,"rows":null},{"label":"D.O.B","value":"dob","type":"date","required":true,"rows":null},{"label":"Phone Number","value":"phno","type":"number","required":false,"rows":null},{"label":"E-mail ID","value":"email","type":"email","required":true,"rows":null},{"label":"Username","value":"username","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","age":"","gender":"","dob":"","phno":"","email":"","username":"","password":""},"payload":"","submit":"SUBMIT","cancel":"Clear Details","topic":"responseTopic","topicType":"msg","splitLayout":true,"className":"","x":50,"y":120,"wires":[["13c111bbef2e5edf"]]},{"id":"7dbb34d3203a5271","type":"cloudant out","z":"5ad52264175349f9","name":"","cloudant":"","database":"signup","service":"node-red-app-cloudant-1668151357957-82648","payonly":false,"operation":"insert","x":930,"y":400,"wires":[]},{"id":"ddb82c0394714f2e","type":"http request","z":"5ad52264175349f9","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"https://apikey-v2-21252tauamp56s9rnvbr1eyy78mfp5pn03jevy0f5c04:d244f8b0960588e82458832a66e5fb98@1126bfc5-2dc8-436d-92d7-21d36731aebb-bluemix.cloudantnosqldb.appdomain.cloud/signup/_all_docs?include_docs=True","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":250,"y":120,"wires":[["6ebe5b6f113ae94d"]]},{"id":"6ebe5b6f113ae94d","type":"function","z":"5ad52264175349f9","name":"Avoid multiple entries","func":"\n\nlen=msg.payload.rows.length;\nvar equal=0;\nusername=flow.get(\"username\")\nemail=flow.get(\"email\")\nfor (var i = 0; i <len; i++){\n    if(msg.payload.rows[i].doc.payload.username==username)\n    {\n    equal=1; \n     break;\n    }\n   if(msg.payload.rows[i].doc.payload.email==email)\n    {\n    equal=2; \n     break;\n    }\n\n}\nvar newmsg={payload:equal};\nnewmsg.socketid=msg.socketid\nreturn newmsg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[["edf7fb6c47894f39"]]},{"id":"c815696c477107d1","type":"function","z":"5ad52264175349f9","name":"","func":"name=flow.get(\"name\");\nage=flow.get(\"age\");\ngender=flow.get(\"gender\");\ndob=flow.get(\"dob\");\nphno=flow.get(\"phno\");\nemail=flow.get(\"email\");\nusername=flow.get(\"username\");\npassword=flow.get(\"password\");\n\nvar msg1={};\nmsg1={\n    \"payload\":\n    {\n        \"name\":name,\n        \"age\": age,\n        \"gender\":gender,\n        \"dob\":dob,\n        \"phno\":phno,\n        \"email\":email,\n        \"username\":username,\n        \"password\":password\n    }\n    };\n    msg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":400,"wires":[["7dbb34d3203a5271","72d951ab235ce775"]]},{"id":"edf7fb6c47894f39","type":"switch","z":"5ad52264175349f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":490,"y":120,"wires":[["b6d1f6767f9afd2c"],["13e3b61132ac09a7"],["319eb6bde83994c3"]]},{"id":"28de1d27c9e4428a","type":"ui_toast","z":"5ad52264175349f9","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Already Exisiting Username","name":"","x":510,"y":60,"wires":[[]]},{"id":"13c111bbef2e5edf","type":"function","z":"5ad52264175349f9","name":"","func":"flow.set(\"name\",msg.payload.username)\nflow.set(\"age\",msg.payload.age)\nflow.set(\"gender\",msg.payload.gender)\nflow.set(\"dob\",msg.payload.dob)\nflow.set(\"phno\",msg.payload.phno)\nflow.set(\"email\",msg.payload.email)\nflow.set(\"username\",msg.payload.username)\nflow.set(\"password\",msg.payload.password)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":200,"wires":[["ddb82c0394714f2e"]]},{"id":"440856f0fcf30c03","type":"ui_toast","z":"5ad52264175349f9","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Already Existing E-mail ID. ","name":"","x":810,"y":180,"wires":[[]]},{"id":"d93ec13da62d4925","type":"e-mail","z":"5ad52264175349f9","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":910,"y":40,"wires":[]},{"id":"13e3b61132ac09a7","type":"function","z":"5ad52264175349f9","name":"","func":"var msg1={}\nvar OTP=Math.ceil(Math.random() * 10000);\nflow.set(\"OTP\",OTP);\nmsg1={\n    \"payload\" :\"Enter this OTP to verify your login \"+OTP,\n    \"topic\"   :\"OTP for verification \",\n    \"to\"      :flow.get(\"email\")\n};\nmsg1.socket=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":120,"wires":[["d93ec13da62d4925","4dc0822f7701f7a9"]]},{"id":"39f6f7d70e201f80","type":"ui_ui_control","z":"5ad52264175349f9","name":"","events":"all","x":1040,"y":260,"wires":[[]]},{"id":"1c89c9d7a727c4db","type":"comment","z":"5ad52264175349f9","name":"Home page setup","info":"Home page setup","x":170,"y":4680,"wires":[]},{"id":"e8f3bacc3723705e","type":"ui_ui_control","z":"5ad52264175349f9","name":"","events":"all","x":500,"y":4800,"wires":[[]]},{"id":"8e70c513abc981c2","type":"ui_button","z":"5ad52264175349f9","name":"","group":"107ca79ad6b32462","order":18,"width":9,"height":1,"passthru":false,"label":"<i class=\"fa fa-sign-in\" aria-hidden=\"true\"></i>    Login","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Login ","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":4780,"wires":[["e8f3bacc3723705e"]]},{"id":"b3ed3ab3a1a23c60","type":"ui_button","z":"5ad52264175349f9","name":"","group":"107ca79ad6b32462","order":14,"width":9,"height":1,"passthru":false,"label":"<i class=\"fa fa-sign-in\" aria-hidden=\"true\"></i>    Sign Up","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Signup","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":4820,"wires":[["e8f3bacc3723705e"]]},{"id":"48fb1afff0e646e6","type":"ui_button","z":"5ad52264175349f9","name":"","group":"107ca79ad6b32462","order":22,"width":9,"height":1,"passthru":false,"label":"<i class=\"fa fa-key\" aria-hidden=\"true\"></i>    Forgot Password","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Forgot Password","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":4860,"wires":[["e8f3bacc3723705e"]]},{"id":"6e257915f954619a","type":"comment","z":"5ad52264175349f9","name":"Signin","info":"","x":70,"y":60,"wires":[]},{"id":"4dc0822f7701f7a9","type":"function","z":"5ad52264175349f9","name":"","func":"var msg1={};\nmsg1={\n    \"payload\": \"Verification Page\"};\nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":120,"wires":[["39f6f7d70e201f80","2eb45561f166101e"]]},{"id":"5ca660b8e746ea04","type":"comment","z":"5ad52264175349f9","name":"verification Page","info":"","x":80,"y":340,"wires":[]},{"id":"28e9bf2bc09b7640","type":"ui_button","z":"5ad52264175349f9","name":"","group":"d4cb9db064b97ed3","order":6,"width":3,"height":1,"passthru":false,"label":"Go back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Signup","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":580,"wires":[["ef7983791eba6c5c"]]},{"id":"fa2bc9d8fb1b63dc","type":"ui_text","z":"5ad52264175349f9","group":"d4cb9db064b97ed3","order":2,"width":6,"height":1,"name":"","label":"enter the OTP sent to you e-mail","format":"{{msg.payload}}","layout":"row-spread","className":"","x":130,"y":620,"wires":[]},{"id":"ef7983791eba6c5c","type":"ui_ui_control","z":"5ad52264175349f9","name":"","events":"all","x":440,"y":580,"wires":[[]]},{"id":"f6b02597f6a78709","type":"function","z":"5ad52264175349f9","name":"","func":"var a=flow.get(\"OTP\");\n\nvar msg1={};\nif(msg.payload.enteredotp==a)\n{\nmsg1=\n{\n    \"payload\":1\n};\n}\nelse\nmsg1=\n{\n    \"payload\":0\n};\nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":440,"wires":[["602733181a7e4971"]]},{"id":"6995c69dba2a64eb","type":"ui_toast","z":"5ad52264175349f9","position":"dialog","displayTime":"5","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Registered Successfully. Rediecting to Home page","name":"","x":630,"y":340,"wires":[["c815696c477107d1"]]},{"id":"602733181a7e4971","type":"switch","z":"5ad52264175349f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":440,"wires":[["09aacaf29fa5d065"],["9c01deb2eadc1b2a"]]},{"id":"fb8be94d499d9f0f","type":"ui_toast","z":"5ad52264175349f9","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Wrong O.T.P .Redirecting to sign-up page","name":"","x":650,"y":520,"wires":[["3af8e08bc96acbc9"]]},{"id":"fc7a39418792262b","type":"ui_ui_control","z":"5ad52264175349f9","name":"","events":"all","x":1120,"y":420,"wires":[[]]},{"id":"3af8e08bc96acbc9","type":"function","z":"5ad52264175349f9","name":"","func":"var msg1={}\nmsg1={\n    \"payload\":\"Signup\"\n}\nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":500,"wires":[["fc7a39418792262b"]]},{"id":"3f3b7bd19d4839e1","type":"ui_button","z":"5ad52264175349f9","name":"","group":"64cbe9cef7329b5f","order":4,"width":5,"height":1,"passthru":false,"label":"Go Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Smart Solutions For Railways","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":260,"wires":[["39f6f7d70e201f80"]]},{"id":"776df2d3c33b4b2f","type":"function","z":"5ad52264175349f9","name":"","func":"flow.set(\"enteredotp\",msg.payload.enteredotp)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":440,"wires":[["f6b02597f6a78709"]]},{"id":"72d951ab235ce775","type":"function","z":"5ad52264175349f9","name":"","func":"var msg1={}\nmsg1={\n    \"payload\":\"Smart Solutions For Railways\"\n}\nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":340,"wires":[["fc7a39418792262b"]]},{"id":"0da265017b1908ca","type":"ui_form","z":"5ad52264175349f9","name":"","label":"","group":"d4cb9db064b97ed3","order":4,"width":0,"height":0,"options":[{"label":"O.T.P","value":"enteredotp","type":"number","required":true,"rows":null}],"formValue":{"enteredotp":""},"payload":"","submit":"SUBMIT","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":90,"y":380,"wires":[["776df2d3c33b4b2f"]]},{"id":"929afa59c224610c","type":"debug","z":"5ad52264175349f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":300,"wires":[]},{"id":"09aacaf29fa5d065","type":"function","z":"5ad52264175349f9","name":"","func":"msg1={}\nmsg1={\n    \"payload\":\"                 Now try to login \"\n}\nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":340,"wires":[["6995c69dba2a64eb"]]},{"id":"9c01deb2eadc1b2a","type":"function","z":"5ad52264175349f9","name":"","func":"msg1={}\nmsg1={\n    \"payload\":\"         Try filling the details again \"\n}\nmsg1.socket=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":460,"wires":[["fb8be94d499d9f0f"]]},{"id":"319eb6bde83994c3","type":"function","z":"5ad52264175349f9","name":"","func":"msg1={}\nmsg1={\n    \"payload\":\"Try with different e-mail\"\n}\nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":180,"wires":[["440856f0fcf30c03"]]},{"id":"b6d1f6767f9afd2c","type":"function","z":"5ad52264175349f9","name":"","func":"msg1={}\nmsg1={\n    \"payload\":\"Try with a different username \"\n}\nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":60,"wires":[["28de1d27c9e4428a"]]},{"id":"7cb489b01e0e751c","type":"comment","z":"5ad52264175349f9","name":"login page","info":"","x":60,"y":740,"wires":[]},{"id":"1dc933e81cddf2a9","type":"ui_form","z":"5ad52264175349f9","name":"","label":"","group":"17ecc482a7485d5f","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"username1","type":"text","required":true,"rows":null},{"label":"Password","value":"password1","type":"password","required":true,"rows":null}],"formValue":{"username1":"","password1":""},"payload":"","submit":"CONFIRM","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":70,"y":820,"wires":[["4306d87948573279"]]},{"id":"4306d87948573279","type":"function","z":"5ad52264175349f9","name":"","func":"flow.set(\"username1\",msg.payload.username1);\nflow.set(\"password1\",msg.payload.password1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":880,"wires":[["ed80afa1e9025e0a"]]},{"id":"ed80afa1e9025e0a","type":"http request","z":"5ad52264175349f9","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"https://apikey-v2-21252tauamp56s9rnvbr1eyy78mfp5pn03jevy0f5c04:d244f8b0960588e82458832a66e5fb98@1126bfc5-2dc8-436d-92d7-21d36731aebb-bluemix.cloudantnosqldb.appdomain.cloud/signup/_all_docs?include_docs=True","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":290,"y":880,"wires":[["b53e17ef27516bfd"]]},{"id":"b53e17ef27516bfd","type":"function","z":"5ad52264175349f9","name":"checking for the entry","func":"\n\nlen=msg.payload.rows.length;\nvar equal=0;\nusername=flow.get(\"username1\")\npassword=flow.get(\"password1\")\nfor (var i = 0; i <len; i++){\n    if(msg.payload.rows[i].doc.payload.username==username && msg.payload.rows[i].doc.payload.password==password)\n    {flow.set(\"MAILID\",msg.payload.rows[i].doc.payload.email)\n    equal=1; \n     break;\n    }\n   \n\n}\nvar newmsg={payload:equal};\nnewmsg.socketid=msg.socketid\nreturn newmsg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":880,"wires":[["44d769a22711227d"]]},{"id":"44d769a22711227d","type":"switch","z":"5ad52264175349f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":880,"wires":[["7157cc0ad0e30a99"],["586988b4ab27476a"]]},{"id":"7157cc0ad0e30a99","type":"function","z":"5ad52264175349f9","name":"","func":"msg1={}\nmsg1={\n    \"payload\":\"                           please Sign-up before login   \"\n}\nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":820,"wires":[["85763fca6489ee23","5157c7838ae7a0b8"]]},{"id":"85763fca6489ee23","type":"ui_toast","z":"5ad52264175349f9","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":630,"y":740,"wires":[[]]},{"id":"5157c7838ae7a0b8","type":"function","z":"5ad52264175349f9","name":"","func":"msg.payload=\"Signup\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":820,"wires":[["e26878bc382c9cc3"]]},{"id":"e26878bc382c9cc3","type":"ui_ui_control","z":"5ad52264175349f9","name":"","events":"all","x":1060,"y":820,"wires":[[]]},{"id":"17a52089db7de381","type":"function","z":"5ad52264175349f9","name":"","func":"msg1={}\nmsg1={\n    \"payload\": \"Main Page\"\n}\nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":900,"wires":[["e26878bc382c9cc3"]]},{"id":"fb9317847633df1b","type":"ui_toast","z":"5ad52264175349f9","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":690,"y":1000,"wires":[[]]},{"id":"586988b4ab27476a","type":"function","z":"5ad52264175349f9","name":"","func":"msg1={}\nmsg1={\n    \"payload\":\"Logged in  \"\n}\nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":940,"wires":[["fb9317847633df1b","17a52089db7de381"]]},{"id":"461c6d9f56758ec1","type":"comment","z":"5ad52264175349f9","name":"mainpage","info":"","x":60,"y":1100,"wires":[]},{"id":"27d7936c4b7e0391","type":"ui_button","z":"5ad52264175349f9","name":"","group":"17ecc482a7485d5f","order":3,"width":9,"height":1,"passthru":false,"label":"Go Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Smart Solutions For Railways","payloadType":"str","topic":"topic","topicType":"msg","x":920,"y":1000,"wires":[["e26878bc382c9cc3"]]},{"id":"b62d8a07e62353ca","type":"comment","z":"5ad52264175349f9","name":"forgetpasswordpage","info":"","x":1590,"y":40,"wires":[]},{"id":"492e3304a18a9c5f","type":"ui_button","z":"5ad52264175349f9","name":"","group":"c2453613910340cd","order":3,"width":5,"height":1,"passthru":false,"label":"Go Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Smart Solutions For Railways","payloadType":"str","topic":"topic","topicType":"msg","x":1580,"y":220,"wires":[["273e3752d57a8e2e"]]},{"id":"9abd225aef27aaa0","type":"ui_form","z":"5ad52264175349f9","name":"","label":"","group":"c2453613910340cd","order":1,"width":9,"height":1,"options":[{"label":"E-mail ID","value":"email","type":"email","required":true,"rows":null}],"formValue":{"email":""},"payload":"","submit":"submit","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":1570,"y":140,"wires":[["c18a5993f8dae4fb"]]},{"id":"c18a5993f8dae4fb","type":"function","z":"5ad52264175349f9","name":"","func":"\nflow.set(\"forgotemail\",msg.payload.email)\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":140,"wires":[["eb0447c271d1510e"]]},{"id":"273e3752d57a8e2e","type":"ui_ui_control","z":"5ad52264175349f9","name":"","events":"all","x":2160,"y":220,"wires":[[]]},{"id":"eb0447c271d1510e","type":"http request","z":"5ad52264175349f9","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"https://apikey-v2-21252tauamp56s9rnvbr1eyy78mfp5pn03jevy0f5c04:d244f8b0960588e82458832a66e5fb98@1126bfc5-2dc8-436d-92d7-21d36731aebb-bluemix.cloudantnosqldb.appdomain.cloud/signup/_all_docs?include_docs=True","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1910,"y":80,"wires":[["b3b938d6edf77e9c"]]},{"id":"b3b938d6edf77e9c","type":"function","z":"5ad52264175349f9","name":"","func":"len=msg.payload.rows.length;\nvar equal=0;\nemail=flow.get(\"forgotemail\")\nfor(var i=0;i<len;i++)\n{    if(msg.payload.rows[i].doc.payload.email==email)\n    {\n    flow.set(\"forgotusername\",msg.payload.rows[i].doc.payload.username);\n    flow.set(\"forgotpassword\",msg.payload.rows[i].doc.payload.password);\n    equal=1; \n     break;\n    }\n   \n\n}\nvar newmsg={payload:equal};\nnewmsg.socketid=msg.socketid\nreturn newmsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":80,"wires":[["2acb7c6befbce182"]]},{"id":"2acb7c6befbce182","type":"switch","z":"5ad52264175349f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2230,"y":80,"wires":[["76faa370a02c8295"],["dd1825abf474d2c1","64c3d090e01a182d"]]},{"id":"38d3471207722240","type":"ui_toast","z":"5ad52264175349f9","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Enter a registered mail-ID","name":"","x":2450,"y":20,"wires":[["6fc1cd267e627c5d"]]},{"id":"76faa370a02c8295","type":"function","z":"5ad52264175349f9","name":"","func":"\nmsg1.payload=\" \"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":20,"wires":[["38d3471207722240"]]},{"id":"dd1825abf474d2c1","type":"function","z":"5ad52264175349f9","name":"","func":"\nmsg.payload=\" \"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":140,"wires":[["35dc1539843b4db0"]]},{"id":"35dc1539843b4db0","type":"ui_toast","z":"5ad52264175349f9","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Mail sent","name":"","x":2430,"y":180,"wires":[["916ad6b08d384c77"]]},{"id":"6bab4cd984ea385f","type":"e-mail","z":"5ad52264175349f9","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":2650,"y":140,"wires":[]},{"id":"916ad6b08d384c77","type":"function","z":"5ad52264175349f9","name":"","func":"\nusername=flow.get(\"forgotusername\");\npassword=flow.get(\"forgotpassword\");\n\n    msg.payload=[\"Username is  \"+ username+\"  and password is \"+password]\n    msg.topic   =\"Login Credentials\"\n    msg.to=flow.get(\"forgotemail\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2580,"y":240,"wires":[["6bab4cd984ea385f"]]},{"id":"6fc1cd267e627c5d","type":"function","z":"5ad52264175349f9","name":"","func":"\nmsg={\n    \"payload\":\"Forgot Password\"\n}\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2640,"y":40,"wires":[["e24f86bceb72297e"]]},{"id":"e24f86bceb72297e","type":"ui_ui_control","z":"5ad52264175349f9","name":"","events":"all","x":2780,"y":80,"wires":[[]]},{"id":"64c3d090e01a182d","type":"debug","z":"5ad52264175349f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2370,"y":320,"wires":[]},{"id":"b5e106511dbaf168","type":"ui_button","z":"5ad52264175349f9","name":"","group":"cb7dddceffb57a68","order":42,"width":6,"height":1,"passthru":false,"label":"<i class=\"fa fa-cloud\" aria-hidden=\"true\"></i>   Weather","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Weather","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":1160,"wires":[["0a34751ca2b5a513"]]},{"id":"144ee86307c0a9ff","type":"ui_button","z":"5ad52264175349f9","name":"","group":"cb7dddceffb57a68","order":44,"width":6,"height":1,"passthru":false,"label":"<i class=\"fa fa-map-marker\" aria-hidden=\"true\"></i>   Location","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Location","payloadType":"str","topic":"topic","topicType":"msg","x":240,"y":1220,"wires":[["0a34751ca2b5a513"]]},{"id":"9129b5bb0153f3d6","type":"ui_button","z":"5ad52264175349f9","name":"","group":"cb7dddceffb57a68","order":20,"width":6,"height":1,"passthru":false,"label":"<i class=\"fa fa-ticket\" aria-hidden=\"true\"></i>   Book Ticket","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Book Ticket","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1280,"wires":[["0a34751ca2b5a513","c65973478ac9c114"]]},{"id":"0a34751ca2b5a513","type":"ui_ui_control","z":"5ad52264175349f9","name":"","events":"all","x":600,"y":1220,"wires":[["75136e2aa602610c"]]},{"id":"9a782ff1908f96ef","type":"ui_button","z":"5ad52264175349f9","name":"","group":"cb7dddceffb57a68","order":22,"width":6,"height":1,"passthru":false,"label":"<i class=\"fa fa-history\" aria-hidden=\"true\"></i>   Booking History","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Booking History","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":1340,"wires":[["0a34751ca2b5a513"]]},{"id":"a4063999beca048c","type":"comment","z":"5ad52264175349f9","name":"Booking Page","info":"","x":430,"y":1560,"wires":[]},{"id":"c28b30cf782d8dc1","type":"ui_button","z":"5ad52264175349f9","name":"","group":"e3dcdef4fbf8b77f","order":23,"width":3,"height":1,"passthru":false,"label":"Go Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Main Page","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":1800,"wires":[["f19b81989dd3526c"]]},{"id":"f19b81989dd3526c","type":"ui_ui_control","z":"5ad52264175349f9","name":"","events":"all","x":460,"y":1800,"wires":[["727ba2d18f96d718"]]},{"id":"da253c447447bac2","type":"ui_dropdown","z":"5ad52264175349f9","name":"","label":"Destination Station","tooltip":"","place":"Select option","group":"e3dcdef4fbf8b77f","order":6,"width":6,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":210,"y":1620,"wires":[["caf36996c96fd8d8"]]},{"id":"7fc6b73281848bfe","type":"ui_dropdown","z":"5ad52264175349f9","name":"","label":"Boarding Station","tooltip":"","place":"Select option","group":"e3dcdef4fbf8b77f","order":3,"width":6,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":210,"y":1660,"wires":[["b5aa1d1e85e8c511"]]},{"id":"caf36996c96fd8d8","type":"function","z":"5ad52264175349f9","name":"","func":"flow.set(\"destination\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1620,"wires":[[]]},{"id":"b5aa1d1e85e8c511","type":"function","z":"5ad52264175349f9","name":"","func":"flow.set(\"boarding\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1660,"wires":[[]]},{"id":"6eac10469c4d41bb","type":"ui_date_picker","z":"5ad52264175349f9","name":"","label":"Date","group":"e3dcdef4fbf8b77f","order":9,"width":6,"height":1,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":70,"y":1700,"wires":[["4f0182f5af1882ae"]]},{"id":"a9c3e0f86815878e","type":"ui_button","z":"5ad52264175349f9","name":"","group":"e3dcdef4fbf8b77f","order":21,"width":3,"height":1,"passthru":false,"label":"SUBMIT","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"modifyanddetails","payloadType":"str","topic":"topic","topicType":"msg","x":1820,"y":1380,"wires":[["70c9a4d9af30983b","19f4f8e9a8dd6ea3"]]},{"id":"605fb8d938785409","type":"function","z":"5ad52264175349f9","name":"","func":"a=msg.payload.split(\",\");\nday=a[0];\nflow.set(\"day\",day)\nif(day==\"Monday\")\nflow.set(\"dayno\",0)\n\nif(day==\"Tuesday\")\nflow.set(\"dayno\",1)\n\nif(day==\"Wednesday\")\nflow.set(\"dayno\",2)\n\nif(day==\"Thursday\")\nflow.set(\"dayno\",3)\n\nif(day==\"Friday\")\nflow.set(\"dayno\",4)\n\nif(day==\"Saturday\")\nflow.set(\"dayno\",5)\n\nif(day==\"Sunday\")\nflow.set(\"dayno\",6)\n\nflow.set(\"day\",a[0])\nflow.set(\"date\",a[1])\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1700,"wires":[["c9ba735089f543e5"]]},{"id":"3e4638f3cbe92e18","type":"cloudant in","z":"5ad52264175349f9","name":"","cloudant":"","database":"trainavailability","service":"node-red-app-cloudant-1668151357957-82648","search":"_id_","design":"","index":"","x":720,"y":1600,"wires":[["1927db501d0a63c0"]]},{"id":"c9ba735089f543e5","type":"function","z":"5ad52264175349f9","name":"","func":"boarding=flow.get(\"boarding\")\nmsg={\n    \"payload\":boarding\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1620,"wires":[["3e4638f3cbe92e18"]]},{"id":"1927db501d0a63c0","type":"function","z":"5ad52264175349f9","name":"","func":"day=flow.get(\"day\")\nselecteddestination=flow.get(\"destination\")\narr=msg.payload.destinations\nn=arr.indexOf(flow.get(\"destination\"))\nif(n!=-1)\ndes=1;\ntrains=0;\nif(day==\"Monday\" && des==1)\ntrains=msg.payload.day.Monday[n]\n\nif(day==\"Tuesday\" && des==1)\ntrains=msg.payload.day.Tuesday[n]\n\nif(day==\"Wednesday\" && des==1)\ntrains=msg.payload.day.Wednesday[n]\n\nif(day==\"Thursday\" && des==1)\ntrains=msg.payload.day.Thursday[n]\n\nif(day==\"Friday\" && des==1)\ntrains=msg.payload.day.Friday[n]\n\nif(day==\"Saturday\" && des==1)\ntrains=msg.payload.day.Saturday[n]\nmsg1={}\nif(trains!=0 )\nmsg1.options=trains\n\nelse if(trains==0)\nmsg1.options=\"No Trains Available\"\n    \nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1760,"wires":[["62808348e04c9321","494481574aa98f54"]]},{"id":"62808348e04c9321","type":"ui_dropdown","z":"5ad52264175349f9","name":"","label":"Train Name","tooltip":"","place":"Select option","group":"e3dcdef4fbf8b77f","order":12,"width":6,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":770,"y":1720,"wires":[["464b0127fdd35533"]]},{"id":"464b0127fdd35533","type":"function","z":"5ad52264175349f9","name":"","func":"flow.set(\"trainname\",msg.payload)\nmsg1={}\nmsg1.payload=msg.payload\nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1680,"wires":[["349e502761b50658"]]},{"id":"ddec0328eebbf22d","type":"ui_dropdown","z":"5ad52264175349f9","name":"","label":"Class Type ","tooltip":"","place":"Select option","group":"e3dcdef4fbf8b77f","order":15,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1330,"y":1680,"wires":[["17d7fa7c98663411"]]},{"id":"de4625771edb0bd2","type":"function","z":"5ad52264175349f9","name":"","func":"a=msg.payload[\"1AC\"]\nb=msg.payload[\"2AC\"]\nc=msg.payload[\"3AC\"]\nd=msg.payload[\"Sleeper Class\"]\ne=msg.payload[\"Second Class\"]\nf=msg.payload[\"General Class\"]\n\nflow.set(\"a\",msg.payload[\"1AC\"])\nflow.set(\"b\",msg.payload[\"2AC\"])\nflow.set(\"c\",msg.payload[\"3AC\"])\nflow.set(\"d\",msg.payload[\"Sleeper Class\"])\nflow.set(\"e\",msg.payload[\"Second Class\"])\nflow.set(\"f\",msg.payload[\"General Class\"])\n\n\nif(a==0 && b==0 && c==0 && d==0 && e==0 && f==0)\n{output=\"All Classes are Full\"\nmsg.options=output\nreturn msg;\n}\noutput=[]\nif(a!=0)\noutput.push(\"1AC\")\n\nif(b!=0)\noutput.push(\"2AC\")\n\nif(c!=0)\noutput.push(\"3AC\")\n\nif(d!=0)\noutput.push(\"Sleeper Class\")\n\nif(e!=0)\noutput.push(\"Second Class\")\n\nif(f!=0)\noutput.push(\"General Class\")\n\n\nmsg.options=output\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1680,"wires":[["ddec0328eebbf22d"]]},{"id":"17d7fa7c98663411","type":"function","z":"5ad52264175349f9","name":"","func":"flow.set(\"class\",msg.payload)\n\nif(msg.payload==\"1AC\")\nnoofseats=flow.get(\"a\")\n\nif(msg.payload==\"2AC\")\nnoofseats=flow.get(\"b\")\n\nif(msg.payload==\"3AC\")\nnoofseats=flow.get(\"c\")\n\nif(msg.payload==\"Sleeper Class\")\nnoofseats=flow.get(\"d\")\n\n\nif(msg.payload==\"Second Class\")\nnoofseats=flow.get(\"e\")\n\nif(msg.payload==\"General Class\")\nnoofseats=flow.get(\"e\")\n\nflow.set(\"noofseats1\",noofseats)\nmsg.payload=noofseats+\" seats are available\"\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":1620,"wires":[["21eed7daf6d57a0e","fddd5b0724f0d77c"]]},{"id":"21eed7daf6d57a0e","type":"ui_text_input","z":"5ad52264175349f9","name":"","label":"No of Seats","tooltip":"","group":"e3dcdef4fbf8b77f","order":18,"width":6,"height":1,"passthru":false,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":1590,"y":1560,"wires":[["f9eaa07fb5db6760"]]},{"id":"c65973478ac9c114","type":"function","z":"5ad52264175349f9","name":"stationnames","func":"var a=[];\na.push(\"Chennai\")\na.push(\"Hyderabad\")\na.push(\"Kerala\")\nmsg.options=a;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1480,"wires":[["da253c447447bac2","7fc6b73281848bfe"]]},{"id":"fddd5b0724f0d77c","type":"ui_toast","z":"5ad52264175349f9","position":"dialog","displayTime":"5","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1530,"y":1740,"wires":[[]]},{"id":"f9eaa07fb5db6760","type":"function","z":"5ad52264175349f9","name":"","func":"no=flow.get(\"noofseats1\")\nflow.set(\"enteredno\",msg.payload);\nif(no<msg.payload)\n{equal=0;\n}\nelse \nequal=1;\nmsg.payload=equal;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1500,"wires":[["81be4a08dcfbe77c"]]},{"id":"81be4a08dcfbe77c","type":"switch","z":"5ad52264175349f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":1500,"wires":[["6092f9f6ea28ee8f"],["51a3efe1ca911435"]]},{"id":"b2bbf45bbbbfba28","type":"ui_toast","z":"5ad52264175349f9","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1610,"y":1420,"wires":[["7e486a6c29a28891"]]},{"id":"6092f9f6ea28ee8f","type":"function","z":"5ad52264175349f9","name":"","func":"msg.payload=\"That no of seats are not available\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":1320,"wires":[["b2bbf45bbbbfba28"]]},{"id":"7e486a6c29a28891","type":"function","z":"5ad52264175349f9","name":"","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":1500,"wires":[["21eed7daf6d57a0e"]]},{"id":"75136e2aa602610c","type":"function","z":"5ad52264175349f9","name":"","func":"msg.enabled=false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1220,"wires":[["a9c3e0f86815878e"]]},{"id":"51a3efe1ca911435","type":"function","z":"5ad52264175349f9","name":"","func":"if(flow.get(\"noofseats1\") && flow.get(\"enteredno\") && flow.get(\"class\")&&flow.get(\"trainname\")&&flow.get(\"boarding\")&&flow.get(\"destination\")    )\nmsg.enabled=true\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":1500,"wires":[["a9c3e0f86815878e"]]},{"id":"de6e5fee8398ba7b","type":"ui_ui_control","z":"5ad52264175349f9","name":"","events":"all","x":2760,"y":1380,"wires":[[]]},{"id":"727ba2d18f96d718","type":"function","z":"5ad52264175349f9","name":"","func":"msg.options=[]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1800,"wires":[["62808348e04c9321","ddec0328eebbf22d","21eed7daf6d57a0e"]]},{"id":"f8a1d810a50c5e97","type":"comment","z":"5ad52264175349f9","name":"modifytraindetails","info":"","x":1740,"y":1620,"wires":[]},{"id":"70c9a4d9af30983b","type":"function","z":"5ad52264175349f9","name":"","func":"\nmsg1={}\nmsg1.payload=flow.get(\"trainname\")\nmsg1.socketid=msg.socketid\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2120,"y":1560,"wires":[["362f57b803d9361f"]]},{"id":"349e502761b50658","type":"cloudant in","z":"5ad52264175349f9","name":"","cloudant":"","database":"trainseatavailability","service":"node-red-app-cloudant-1668151357957-82648","search":"_id_","design":"","index":"","x":970,"y":1600,"wires":[["de4625771edb0bd2"]]},{"id":"362f57b803d9361f","type":"cloudant in","z":"5ad52264175349f9","name":"","cloudant":"","database":"trainseatavailability","service":"node-red-app-cloudant-1668151357957-82648","search":"_id_","design":"","index":"","x":1950,"y":1620,"wires":[["82249c3bc22b0137"]]},{"id":"82249c3bc22b0137","type":"function","z":"5ad52264175349f9","name":"","func":"\nprevious=flow.get(\"noofseats1\")\nentered=flow.get(\"enteredno\")\nmsg.payload[flow.get(\"class\")]=previous-entered\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1680,"wires":[["a2b252ba4f738407"]]},{"id":"a2b252ba4f738407","type":"cloudant out","z":"5ad52264175349f9","name":"","cloudant":"","database":"trainseatavailability","service":"node-red-app-cloudant-1668151357957-82648","payonly":true,"operation":"insert","x":1770,"y":1740,"wires":[]},{"id":"f23f6151c3eed7c4","type":"comment","z":"5ad52264175349f9","name":"updatebooking","info":"","x":2140,"y":1080,"wires":[]},{"id":"a0dd5154c8465cf9","type":"function","z":"5ad52264175349f9","name":"","func":"msg1={\n    \"_id\":flow.get(\"username1\")+\",\"+msg.payload,\n    \"username\":flow.get(\"username1\"),\n    \"destination\":flow.get(\"destination\"),\n    \"boarding\":flow.get(\"boarding\"),\n    \"date\":flow.get(\"date\"),\n    \"trainname\":flow.get(\"trainname\"),\n    \"class\":flow.get(\"class\"),\n    \"noofseats\":flow.get(\"enteredno\"),\n}\nif(flow.get(\"class\")!=\"All Classes are Full\")\nmsg1.socketid=msg.socketid;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":1160,"wires":[["f4b09f7ae62e6464","bd7703418031f3c2"]]},{"id":"f4b09f7ae62e6464","type":"cloudant out","z":"5ad52264175349f9","name":"","cloudant":"","database":"booking","service":"node-red-app-cloudant-1668151357957-82648","payonly":false,"operation":"insert","x":2520,"y":1120,"wires":[]},{"id":"40c0c8df8b028eca","type":"comment","z":"5ad52264175349f9","name":"QRcode","info":"","x":2360,"y":1300,"wires":[]},{"id":"bd7703418031f3c2","type":"function","z":"5ad52264175349f9","name":"","func":"    msg.Username=flow.get(\"username1\")\n    msg.Destination=flow.get(\"destination\")\n    msg.Boarding=flow.get(\"boarding\")\n    msg.Date=flow.get(\"date\")\n    msg.Trainname=flow.get(\"trainname\")\n    msg.Class=flow.get(\"class\")\n    msg.Noofseats=flow.get(\"enteredno\")\n\nmsg.qrcodeinput=JSON.stringify(msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":1380,"wires":[["d30c1ebb82e086d3"]]},{"id":"d30c1ebb82e086d3","type":"qrcode-generator","z":"5ad52264175349f9","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":false,"x":2270,"y":1380,"wires":[["f6efa2efe1126cf0","4ad73d14149d0733","6395e539340b0970"]]},{"id":"7e7f0f0b2358f23b","type":"debug","z":"5ad52264175349f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2890,"y":1240,"wires":[]},{"id":"3f9a4fcf0d2fb38b","type":"comment","z":"5ad52264175349f9","name":"Booking History ","info":"","x":2080,"y":1900,"wires":[]},{"id":"0c8c1ed865798956","type":"ui_button","z":"5ad52264175349f9","name":"","group":"0a98438381a8a6a9","order":2,"width":6,"height":1,"passthru":false,"label":"Show Details","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"\"hello\"","payloadType":"str","topic":"topic","topicType":"msg","x":2110,"y":1960,"wires":[["181783423fd10d30"]]},{"id":"181783423fd10d30","type":"function","z":"5ad52264175349f9","name":"","func":"username=flow.get(\"username1\")\na=\"username:\"+username+\"<string>\"\nmsg.payload={\n    query:a\n\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":2020,"wires":[["d45d5196ed6055d1"]]},{"id":"d45d5196ed6055d1","type":"cloudant in","z":"5ad52264175349f9","name":"","cloudant":"","database":"booking","service":"node-red-app-cloudant-1668151357957-82648","search":"_idx_","design":"byusername","index":"newSearch","x":2240,"y":2060,"wires":[["5220dabbaeef7c32","2aba5402db028ac9"]]},{"id":"5220dabbaeef7c32","type":"function","z":"5ad52264175349f9","name":"","func":"no=msg.payload.length\nmsg1={}\nb=[]\nfor(i=0;i<no;i++)\n{\ndate=msg.payload[i].date.split(\",\")   \n\nmsg1=\n{\n\"Boarding\":    msg.payload[i].boarding,\n\"Destination\": msg.payload[i].destination,\n\"Date\": date[0]+date[1],\n\"Train Name\": msg.payload[i].trainname,\n\"Class\": msg.payload[i].class,\n\"No of Seats Booked\": msg.payload[i].noofseats\n}\nb.push(msg1)   \n    \n}\nmsg.payload=b;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":2080,"wires":[["46877fa70f3b3b63"]]},{"id":"46877fa70f3b3b63","type":"ui_table","z":"5ad52264175349f9","group":"0a98438381a8a6a9","name":"","order":5,"width":12,"height":1,"columns":[],"outputs":0,"cts":false,"x":2490,"y":1980,"wires":[]},{"id":"3512a633fa4265f4","type":"ui_button","z":"5ad52264175349f9","name":"","group":"0a98438381a8a6a9","order":3,"width":6,"height":1,"passthru":false,"label":"Go Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Main Page","payloadType":"str","topic":"topic","topicType":"msg","x":2260,"y":1880,"wires":[["8741f234c881ebc7","ca2050757f38e1be"]]},{"id":"8741f234c881ebc7","type":"function","z":"5ad52264175349f9","name":"","func":"msg.payload=[]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":1940,"wires":[["46877fa70f3b3b63"]]},{"id":"ca2050757f38e1be","type":"ui_ui_control","z":"5ad52264175349f9","name":"","events":"all","x":2520,"y":1860,"wires":[[]]},{"id":"4ad73d14149d0733","type":"cloudant out","z":"5ad52264175349f9","name":"","cloudant":"","database":"qrcode","service":"node-red-app-cloudant-1668151357957-82648","payonly":false,"operation":"insert","x":2570,"y":1260,"wires":[]},{"id":"c9ff08714ee3dc0a","type":"ui_toast","z":"5ad52264175349f9","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"QR Code Sent to your registered E-mail.","name":"","x":2550,"y":1380,"wires":[["38d82652894e2b91"]]},{"id":"3910c03e85dfdb59","type":"e-mail","z":"5ad52264175349f9","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":2790,"y":1540,"wires":[]},{"id":"f6efa2efe1126cf0","type":"jimp-image","z":"5ad52264175349f9","name":"","data":"payload","dataType":"msg","ret":"buf","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":2410,"y":1480,"wires":[["4b3fd0a30e8a0fdf"]]},{"id":"4b3fd0a30e8a0fdf","type":"function","z":"5ad52264175349f9","name":"","func":"msg.topic=\"Ticket Booked\"\nmsg.attachments =  \n    { filename : \"QR_IMAGE.jpg\",\n        content : msg.payload};  \nmsg.to=flow.get(\"MAILID\")\nmsg.payload = \"Use this code for Verification\";\nreturn msg;\n        ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2600,"y":1540,"wires":[["3910c03e85dfdb59"]]},{"id":"2aba5402db028ac9","type":"debug","z":"5ad52264175349f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1850,"y":2060,"wires":[]},{"id":"942c95c31299b93b","type":"debug","z":"5ad52264175349f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2710,"y":1160,"wires":[]},{"id":"38d82652894e2b91","type":"function","z":"5ad52264175349f9","name":"","func":"msg.payload=\"Main Page\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2640,"y":1480,"wires":[["de6e5fee8398ba7b"]]},{"id":"6395e539340b0970","type":"function","z":"5ad52264175349f9","name":"","func":"msg.payload=\"Redirecting to Main Page\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2540,"y":1320,"wires":[["c9ff08714ee3dc0a"]]},{"id":"eac6922ead97cb89","type":"ui_button","z":"5ad52264175349f9","name":"","group":"cb7dddceffb57a68","order":2,"width":3,"height":1,"passthru":false,"label":"Log Out","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Smart Solutions For Railways","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":1100,"wires":[["0a34751ca2b5a513"]]},{"id":"494481574aa98f54","type":"debug","z":"5ad52264175349f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":1420,"wires":[]},{"id":"db7d3fcb051665fc","type":"ui_media","z":"5ad52264175349f9","group":"107ca79ad6b32462","name":"","width":10,"height":5,"order":2,"category":"main page","file":"train.jpeg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":50,"y":4740,"wires":[[]]},{"id":"88fca164f1216192","type":"ui_media","z":"5ad52264175349f9","group":"cb7dddceffb57a68","name":"weather","width":5,"height":4,"order":27,"category":"dashboard","file":"weather.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":100,"y":1380,"wires":[[]]},{"id":"33bfa63302b83416","type":"ui_media","z":"5ad52264175349f9","group":"cb7dddceffb57a68","name":"location","width":5,"height":4,"order":29,"category":"dashboard","file":"vector-location-icon.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":100,"y":1420,"wires":[[]]},{"id":"c522697376b14c29","type":"ui_media","z":"5ad52264175349f9","group":"cb7dddceffb57a68","name":"bookticket","width":5,"height":4,"order":5,"category":"dashboard","file":"ticket.jpeg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":100,"y":1460,"wires":[[]]},{"id":"2c71c4cc333b6ebf","type":"ui_media","z":"5ad52264175349f9","group":"cb7dddceffb57a68","name":"bookinghistory","width":5,"height":4,"order":7,"category":"dashboard","file":"history.jpeg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":120,"y":1500,"wires":[[]]},{"id":"4f0182f5af1882ae","type":"moment","z":"5ad52264175349f9","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":0,"adjType":"days","adjDir":"add","format":"LLLL","locale":"en-US","output":"payload","outputType":"msg","outTz":"Africa/Abidjan","x":260,"y":1700,"wires":[["605fb8d938785409"]]},{"id":"19f4f8e9a8dd6ea3","type":"moment","z":"5ad52264175349f9","name":"","topic":"","input":"","inputType":"date","inTz":"Africa/Abidjan","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"","outputType":"msg","outTz":"Africa/Abidjan","x":2080,"y":1140,"wires":[["a0dd5154c8465cf9"]]},{"id":"0828281272277ad4","type":"http request","z":"5ad52264175349f9","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":3210,"y":1780,"wires":[["a84da2690518c92c"]]},{"id":"63ab867a607162fa","type":"function","z":"5ad52264175349f9","name":"","func":"lat=msg.payload[0].lat\nlon=msg.payload[0].lon\nmsg.url=\"https://api.openweathermap.org/data/2.5/weather?lat=\"+lat+\"&lon=\"+lon+\"&appid=46f9e0c7b25fdaa7ebfc864febc6541d\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3220,"y":1880,"wires":[["0828281272277ad4"]]},{"id":"39c9ae3360bf7728","type":"http request","z":"5ad52264175349f9","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":3150,"y":1960,"wires":[["63ab867a607162fa"]]},{"id":"4ee55920db58d827","type":"function","z":"5ad52264175349f9","name":"","func":"cityname=msg.payload\n\nurl=\"http://api.openweathermap.org/geo/1.0/direct?q=\"+cityname+\"&limit=5&appid=46f9e0c7b25fdaa7ebfc864febc6541d\"\nmsg.url=url;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":2040,"wires":[["39c9ae3360bf7728"]]},{"id":"76c56a03b04683a0","type":"ui_dropdown","z":"5ad52264175349f9","name":"","label":"City","tooltip":"","place":"Select option","group":"d98586ee33e3d814","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Chennai","value":"Chennai","type":"str"},{"label":"Hyderabad","value":"Hyderabad","type":"str"},{"label":"Thiruvananthapuram","value":"Kerala","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":2890,"y":1900,"wires":[["4ee55920db58d827"]]},{"id":"a84da2690518c92c","type":"function","z":"5ad52264175349f9","name":"","func":"\ncityname=msg.payload.name\nweather=msg.payload.weather[0].description\ntemperature=Math.ceil(msg.payload.main.temp-273.5)\nmsg.payload=[{\"City\":cityname,\"temperature\":temperature,\"weather\":weather}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3380,"y":1780,"wires":[["5d5a48d92d768543"]]},{"id":"5d5a48d92d768543","type":"ui_table","z":"5ad52264175349f9","group":"d98586ee33e3d814","name":"","order":4,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":3570,"y":1840,"wires":[]},{"id":"2f00fe8e92434af5","type":"comment","z":"5ad52264175349f9","name":"weather","info":"","x":3230,"y":1720,"wires":[]},{"id":"c3582085a404bd24","type":"ui_button","z":"5ad52264175349f9","name":"","group":"d98586ee33e3d814","order":7,"width":4,"height":1,"passthru":false,"label":"Go Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Main Page","payloadType":"str","topic":"topic","topicType":"msg","x":3420,"y":1940,"wires":[["45fb41ea517ead2b","b534efbf0a0706cb"]]},{"id":"45fb41ea517ead2b","type":"function","z":"5ad52264175349f9","name":"","func":"msg.payload=[]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3560,"y":1880,"wires":[["5d5a48d92d768543"]]},{"id":"b534efbf0a0706cb","type":"ui_ui_control","z":"5ad52264175349f9","name":"","events":"all","x":3680,"y":1940,"wires":[[]]},{"id":"2eb45561f166101e","type":"debug","z":"5ad52264175349f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"socketid","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":80,"wires":[]},{"id":"868117322360bc09","type":"ui_worldmap","z":"06b5ad4aee9f36d4","group":"83227ddc4d7393b8","order":8,"width":13,"height":8,"name":"","lat":"msg,payload.lat","lon":"msg.payload.lon","zoom":"","layer":"OSMC","cluster":"","maxage":"10","usermenu":"hide","layers":"hide","panit":"false","panlock":"true","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,RA,DN,RW","maplist":"OSMC,OSMH,EsriT","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":620,"y":260,"wires":[]},{"id":"86962ecc9601beca","type":"ibmiot in","z":"06b5ad4aee9f36d4","authentication":"apiKey","apiKey":"804bc7ddc79de774","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Train1","applicationId":"","deviceType":"GPS","eventType":"+","commandType":"","format":"json","name":"Train1","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":300,"wires":[["16e394e6e30f2a9e"]]},{"id":"342dbf48331f6b54","type":"ui_dropdown","z":"06b5ad4aee9f36d4","name":"","label":"Train Name","tooltip":"","place":"Select option","group":"83227ddc4d7393b8","order":4,"width":7,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Train1","value":"Train1","type":"str"},{"label":"Train2","value":"Train2","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":70,"y":160,"wires":[["21554e642e709180"]]},{"id":"0f9862109137a6fb","type":"comment","z":"06b5ad4aee9f36d4","name":"Location","info":"","x":140,"y":100,"wires":[]},{"id":"5bb3649e9c9158aa","type":"ui_button","z":"06b5ad4aee9f36d4","name":"","group":"83227ddc4d7393b8","order":1,"width":4,"height":1,"passthru":false,"label":"Go Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Main Page","payloadType":"str","topic":"topic","topicType":"msg","x":380,"y":180,"wires":[["c18b154d5c4d8e66"]]},{"id":"12316d7bccf54114","type":"ibmiot in","z":"06b5ad4aee9f36d4","authentication":"apiKey","apiKey":"804bc7ddc79de774","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Train2","applicationId":"","deviceType":"GPS","eventType":"+","commandType":"","format":"json","name":"Train2","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":420,"wires":[["6ba81c69d733639e"]]},{"id":"c18b154d5c4d8e66","type":"ui_ui_control","z":"06b5ad4aee9f36d4","name":"","events":"all","x":540,"y":180,"wires":[[]]},{"id":"16e394e6e30f2a9e","type":"function","z":"06b5ad4aee9f36d4","name":"","func":"if(flow.get(\"select\")==\"Train1\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":280,"wires":[["868117322360bc09"]]},{"id":"6ba81c69d733639e","type":"function","z":"06b5ad4aee9f36d4","name":"","func":"if(flow.get(\"select\")==\"Train2\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":400,"wires":[["868117322360bc09"]]},{"id":"21554e642e709180","type":"function","z":"06b5ad4aee9f36d4","name":"","func":"flow.set(\"select\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":220,"wires":[[]]},{"id":"6d3a20994c88808f","type":"debug","z":"30211ae518e0717a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":160,"wires":[]},{"id":"09874bfc2b51f8df","type":"inject","z":"30211ae518e0717a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":180,"wires":[["6d3a20994c88808f"]]}]